---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/CardIndex.astro';
const pageTitle = "Inicio";
const cardsTitle = [
  "Sobre mí",
  "Mis proyectos",
  "Contacto"
];
const url = [
  "/about/",
  "/projects/",
  "/contact/",
]
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl text-center font-bold">Bienvenidos a mi portfolio</h1>

  <div class="grid grid-rows-3 gap-5">
    <Card cardTitle={cardsTitle[0]} url={url[0]} />
    <Card cardTitle={cardsTitle[1]} url={url[1]} />
    <Card cardTitle={cardsTitle[2]} url={url[2]} />
  </div>
</BaseLayout>
